*{
    box-sizing: border-box;
    margin: 2px;
    padding: 0;
    border: 1px ;
}
.form_box_textarea{
    width: 70%;
    border:1px solid;
    border-radius: 5px;
    font-size: 20px;
}

.form_box{
    height: 15vh;
    border: 1px solid;
}

.button{
    background-color: rgb(60, 19, 19);
  color: rgb(255, 255, 255);
  width: 5rem;
  height: 5%;
  margin: 10px;
  text-align: center;
  font-size: 17px;
  border-radius: 20px 20px 20px 20px; 
  cursor: pointer;
}

.button:hover, .button:hover{
    background-color: rgb(239, 136, 136);
    transition: 1s background ease;
}
